<!DOCTYPE html>
<html>

<head>

    <title>Submission Successful</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <div class="header">

        <h1>Eastern Coalfields Limited</h1>

    </div>

    <div style="padding: 50px; text-align: center;">

        <h2 style="border: none;">
            Employee Data Submitted Successfully
        </h2>

        <p>
            The employee information has been successfully
            stored in the database.
        </p>

        <br>

        <a href="/">
            Submit Another Employee
        </a>

    </div>

</div>

</body>

</html>